/*
Author: Henric Jöraas, Kristian Erendi
Author URI: http://www.oresundswebb.se/  http://reptilo.se 
*/

/* Henric table of content 

0. Theme Customization
1. Pay With a Like
2. Google Calendar Event
3. Social Media Module
	3.1 Tab
	3.2 Twitter
4. Instagram
5. Menu
6. Pren. puff
7. Related article
8. Simple Share Buttons Adder

*/


/* Theme Customization */
a {text-decoration: none;color: #f59d00;}
a:hover{text-decoration: none;color: #fcbe00;}
a:visited{text-decoration: none;color:#f59d00;}
.read-more a:hover{text-decoration: none;}


img, article img{border-radius: 0px;}

.widget_adrotate_widgets img{display: block;margin-left: auto;margin-right: auto;}

/* 1. Pay With a Like */
.pwal_content_wrapper { width: 100%; }
.pwal_container {
margin-left: 15%;
margin-right: 15%;
margin-bottom: 20px;
margin-top: 20px;
text-align: center;
border: 1px solid #e3e3e3;
border-radius: 3px;
height: auto;
}  		   		   	 			 
.pwal_container .pwal_description {
font-size: 12px;
margin-bottom: 1em;
}
.pwal_container ul { list-style: none; overflow: auto; margin: auto; padding: 0;}
.pwal_container ul li{ float: left; list-style-type: none !important; margin: 0; padding: 0; }
.pwal_container ul li { background: none !important;; background-image: none !important; }
.pwal_container .pwal_list_item_1 { width: 100%; }
.pwal_container .pwal_list_item_2 { width: 50%; }
.pwal_container .pwal_list_item_3 { width: 33%; }
.pwal_container .pwal_list_item_4 { width: 25%; }
.pwal_container .pwal_list_item_5 { width: 20%; }
.pwal_container .pwal_list_item_6 { width: 16%; }

/* If you want Facebook comments to be added by your visitor, remove the following line.
For correct display, you may need to change other css properties too*/

.pwal_container .pwal_facebook_button .fb_edge_widget_with_comment iframe.fb_iframe_widget_lift {
/*	display: none !important;  */
	margin-left: -999em;
}

/* .fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {display: none !important;} */

/* Hiding Google pop-up. As G+ does not wait, removing this line will not give any pratical result */
.pwal_container .gc-bubbleDefault.pls-container{display:none !important;}

/* 305548-1395404891 */


/* 2. Google Event Calendar */
.gce-event-info {background-color: #cccccc;border: 1px solid #333333;max-width: 300px;}
.gce-event-info ul li p span, .gce-event-info ul li div span {color: #f59d00;}
.gce-event-info {background-color: #f6f6f6;border: 1px solid #222222;max-width: 300px;font-size: 12px;}
.gce-widget-grid .gce-calendar .gce-caption {text-align: center;text-transform: capitalize;margin-bottom: 10px;}
.gce-event-info .gce-tooltip-event {background-color: #f6f6f6;font-weight: bold;}
.gce-list-event-google {margin-top: 5px;}

ul.gce-list {padding-left:0px;}
li.gce-feed-2 {list-style-type: none;list-style-type: none;margin-bottom: 15px;border-bottom: 1px dotted #C0BEBE;padding-bottom: 15px;}
.gce-page-list .gce-list div span {color: #222222; font-weight: bold;}
.gce-page-list .gce-list .gce-list-event {background-color: #ffffff;}


.description {margin-top: 10px;}

/* 3. Social Media Module */
#social-tab{margin-bottom: 15px;} 

/* 3.1 Tab */
.nav-tabs {border-bottom: 1px solid #ddd;margin-bottom: 10px;}
ul.nav-tabs li.active a {font-weight: bold;color: #fcbe00;}
ul.nav-tabs li.active a:hover	 {font-weight: bold;color: #fcbe00;}
ul.nav-tabs>li>a:hover{text-decoration: none;background-color: #fcbe00;color:#fff; }
ul.nav-tabs li a, ul.nav-tabs li a:visited {color: #222;font-weight: bold;}

/* 3.2 Twitter */
#twitter-widget-0 {width: 280px;}

/* 4. Instagram */
#instagram-feed {margin-top: 25px}

.widget_woodojo_instagram ul.alignleft li {float: left;margin: 0 0em 1em 0;}

.instagram-photos img{width: 100%!important;height: auto!important;}


.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }

/* 5. Menu */
ul.tweets {padding-left: 0px;}
li.tweet-number-1 {list-style-type: none;}

/* 6. Pren. puff */
.omslag img{padding:0px; outline:1px solid #cccccc; outline-offset:2px; -webkit-outline-radius: 5px; -moz-outline-radius: 5px;}
.omslag {margin-top: 6px;}
.omslag-text {margin-left: 30px}
.omslag-text a{font-size: 13px; color:#444444;padding-left: 5px;}
.omslag-text h2 {margin-top: 0px;color: #444444;margin-bottom: 2px;font-family: georgia;font-size: 22px;}
.omslag-nummer {padding-bottom: 22px; font-weight: bold; font-size: 14px; color: #444444;}
.omslag-text ul{list-style: none;padding-left: 0px;}

.spring-form-sidebar{width: 100%;}
.spring-form-sidebar-button{float: right;margin-top:5px;}

/* 7. Related article */
.yarpp-thumbnails-horizontal .yarpp-thumbnail-title{font-family: 'Georgia', serif;font-size: 13px;color: #222;
font-weight: bold;}

.yarpp-thumbnail > img, .yarpp-thumbnail-default {width: 160px;height: 130px;margin: 5px;}

.yarpp-thumbnails-horizontal .yarpp-thumbnail {border:none;width: 130px;height: 170px;margin: 0px;margin-left: 0px;vertical-align: top;}

.yarpp-related h3 {background-image: url("../img/bg_sidebar.png");background-repeat: repeat-y;background-size: 100%;font-size: 14px;color: #FFF;padding-left: 7px;padding: 3px 0 3px 7px;font-weight: bold;letter-spacing: 0.06em;list-style: none;margin-bottom: 8px;}


/*stop showin' anoying ads from WPMU*/
#wpmu-install-dashboard{display:none;}

/*small article*/
.article-small img {float:left;max-width: none; min-width: initial; width:auto;}

.article-small img {padding-right: 10px;margin-bottom: 10px;}
article.post img {margin-bottom: 15px;}


.article-small h1{font-size: 18px;letter-spacing: 0.02em; margin-bottom: 13px;}

.article-small p{font-size: 13px; line-height: 18px}

.pagination .current, .pagination .current:hover {z-index: 2;color: #FFF;cursor: default;background-color: #fcbe00;border-color: #fcbe00;}


/* Article Widget */
.cat-puff {border-bottom: 1px dotted #C0BEBE;min-height: 70px;}
.cat-puff h3 {font-size: 13px;margin-bottom: 5px;margin-top: 9px;}
.cat-puff p {font-size: 11px;line-height: 14px;margin-bottom: 2px;}
.cat-puff img {width: 70px;height: 60px;float: left;min-width: default;margin-right: 10px;margin-left: 0px;}


